<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("partials/head.ejs") %>

	<body>
		<!-- Header -->
		<%- include("partials/header-log.ejs") %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<br>
						<form action="/products/detail" method="get">
							<div>
								<label>Img:</label>
								<input id="image" type="text" name="image" value="<%= locals.old && old.text ? old.text:'' %>">
							</div>
							<div>
								<label>Nombre:</label>
								<input id="nombre" type="text" name="nombre" value="<%= locals.old && old.nombre ? old.nombre:'' %>">
							</div>
							<div>
								<label>Descripción:</label>
								<input id="Descripción" type="text" name="Descripción" value="<%= locals.old && old.text ? old.text:'' %>">
							</div>
							<div>
								<button type="submit">Cargar</button>
							</div>
						</form>
						<br>
					</h2>


					<!-- footer -->
					<%- include("partials/footer.ejs") %>
						<!-- /footer -->
	</body>

</html>