<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("partials/head.ejs") %>

	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include("partials/header-log.ejs") %>
		<% } else { %>
			<%- include('partials/header-logoff.ejs') %>
			<% } %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos</h2>
					</div>
					<% if(locals.errors){ 
						errors.forEach(error => { %>
							<p class="feedback is-danger">
								<%= error.msg %>
							</p>
						<% }); %>
					<% } %>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<br>
						<form action="/products/add" method="post">
							<div>
								<label>Img:</label>
								<input id="foto_texto" type="text" name="foto_texto" value="<%= locals.old && old.foto_texto ? old.foto_texto:'' %>">
							</div>
							<div>
								<label>Nombre:</label>
								<input id="nombre" type="text" name="nombre" value="<%= locals.old && old.nombre ? old.nombre:'' %>">
							</div>
							<div>
								<label>Descripción:</label>
								<input id="Descripción" type="text" name="descripcion" value="<%= locals.old && old.descripcion ? old.descripcion:'' %>">
							</div>
							<div>
								<button type="submit">Cargar</button>
							</div>
						</form>
						<br>
					</h2>


					<!-- footer -->
					<%- include("partials/footer.ejs") %>
						<!-- /footer -->
	</body>

</html>