<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("partials/head.ejs") %>


	<body>
		<!-- Header -->
		<%- include("partials/header-log.ejs") %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar mi perfil</h2>
						<% if(locals.errors)  {
							errors.forEach(error => { %>
							<p class="feedback is-danger"><% error.msg %></p>
						<%	})
						  } 
						%>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<br>
						<form class='productform' action="/users/profile" method="get">
							<div>
								<label>Email:</label>
								<input id="email" type="email" name="email" value="<%= locals.old && old.email ? old.email: '%>">
							</div>
							<div>
								<label>Usuario:</label>
								<input id="usuario" type="text" name="Usuario" value="<%= locals.old && old.usuario ? old.usuario:'' %>">
							</div>
							<div>
								<label>Contraseña:</label>
								<input id="contrasena" type="password" name="contrasena" value="">
							</div>
							<div>
								<label>Fecha de nacimiento:</label>
								<input id="fechaDeNacimiento" type="date" name="fechaDeNacimiento" value="<%= locals.old && old.fechaDeNacimiento ? old.fechaDeNacimiento:'' %>">
							</div>
							<div>
								<label>Número de documento:</label>
								<input id="numeroDeDocumento" type="number" name="numeroDeDocumento" value="<%= locals.old && old.numeroDeDocumento ? old.numeroDeDocumento: ''%>">
							</div>
							<div>
								<label>Foto de Perfil:</label>
								<input id="fotoPerfil" type="text" name="fotoPerfil" value="<%= locals.old && old.fotoPerfil ? old.fotoPerfil:'' %>">
							</div>
							<div>
								<button type="submit">Editar</button>
							</div>
						</form>
						<br>
					</h2>


					<!-- footer -->
					<%- include("partials/footer.ejs") %>
						<!-- /footer -->
	</body>

</html>